<footer class="footer">

  <div style="margin-bottom: 0.07rem;">
    <ul style="padding: 0; margin: 0; list-style: none; display: flex; justify-content: center; gap: min(0.5rem, 2vw); flex-wrap: wrap;">
      <li>
        <a href="https://twitter.com/omidiiran" style="color: #ccc; font-size: 0.8rem;">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com" style="color: #ccc; font-size: 0.8rem;">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="mailto:m-omidi@hotmail.com" style="color: #ccc; font-size: 0.8rem;">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li>
        <a href="tel:+989369066014" style="color: #ccc; font-size: 0.8rem;">
          <i class="fas fa-phone-alt"></i>
        </a>
      </li>
    </ul>
  </div>

  <div style="font-size: 0.59rem; margin-top: 0.001rem;">
    &copy; 2025 Mehdi Omidi. Engineering ideas into reality. thanks to 
    <a href="https://github.com/mmistakes/minimal-mistakes" target="_blank" style="color: #ccc;">MiMistakes</a> and 
    <a href="https://github.com" target="_blank" style="color: #ccc;">GitHub</a> for providing these exceptional tools.
</div>


</footer>
