
<footer style="background-color: #262a35; text-align: center; padding: 0.04rem 0.02rem; font-size: 0.48rem; color: #ccc; z-index: 1000;">

    <div style="margin-bottom: 0.03rem;">
      <ul style="padding: 0; margin: 0; list-style: none; display: flex; justify-content: center; gap: min(0.8rem, 3vw); flex-wrap: wrap;">
        <li>
          <a href="https://twitter.com/omidiiran" style="color: #ccc; font-size: 1rem;">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com" style="color: #ccc; font-size: 1rem;">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="mailto:m-omidi@hotmail.com" style="color: #ccc; font-size: 1rem;">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li>
          <a href="tel:+989369066014" style="color: #ccc; font-size: 1rem;">
            <i class="fas fa-phone-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  
    <div style="font-size: 0.6rem;">
      &copy; 2025 Mehdi Omidi. Engineering ideas into reality. Thanks to <a href="https://github.com/mmistakes/minimal-mistakes" target="_blank">Minimal Mistakes</a> and GitHub for providing these amazing tools.
    </div>
  </footer>