
  @font-face {
    font-family: "Vazir";
    src: url("/assets/fonts/Vazir.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  html[lang="fa"] body {
    direction: rtl;
    text-align: right;
    font-family: "Vazir", sans-serif;
  }
  
  .page__footer * {
    padding: 0.1 !important;
    margin: 0 !important;
  }
  
  .resume-container {
    display: flex;
  }
  .sidebar {
    width: 30%;
    padding: 1rem;
  }
  .content {
    width: 70%;
    padding: 1rem;
  }




