---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    <div class="language-switcher" style="
    position: absolute;  /* تغییر از absolute به fixed برای ثابت ماندن در اسکرول */
    top: 15px;
    right: 65px;
    font-size: 15px;
    font-family: Vazir;
    z-index: 9999;    /* بالاترین مقدار ممکن */
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #262a35;

">
  <a href="/" style="text-decoration: none;">English</a> | 
  <a href="/de/" style="text-decoration: none;">Deutsch</a> | 
  <a href="/fa/" style="text-decoration: none;">فارسی</a> 
  </div>
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
